# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Environment variables
.env

# Editor configs
.vscode/
.idea/

# Logs
*.log

# MacOS
.DS_Store
